a{
    font-size: 1.5rem;
    padding: 0.5rem;
    margin: 0.5rem;
    color: whitesmoke;
}

a.current{
    text-decoration: overline underline;
}
.headerTop{
    position: relative;
    transition-delay: .5s;
}
.navbarPlacement {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
    
}
.headerTop:hover {
    .navbarPlacement {
        display: initial;        
    }
}