.card{
    border-width: 0;
}
.card-img {
    position: relative;
}
.cardBodyHidden {
position: absolute;
bottom: 0;
color: white;
left: 0;
display: none;
background-color: black;
width: 100%;
}
.card-img:hover {
    .cardBodyHidden {
        display: block;
        background: linear-gradient(0deg, rgba(0,0,0,0.8) 0%,  rgba(0,0,0,0) 100%);
        transition-delay: .1s;
    }
}
.cardNameLink{
    color: white;
    font-size: 1.5em;
    &:hover{
        color: white;
    }
}
.cardInfoLink{
    color: black;
    font-size: 1em;
    &:hover{
        color: black;
    }
}
