body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.btn{
  background-color: #606670;
  border-color: #606670;
}
.btn:hover{
  background-color: #7C838D;
  border-color: #7C838D;
}
.btn-primary{
  background-color: #110E2D;
  border-color: #110E2D;
}
.btn-primary:hover{
  background-color: #606670;
  border-color: #606670;
}
.btn-info{
  background-color: #848B9C;
  border-color: #848B9C;
}
.btn-info:hover{
  background-color: #B9C0D2;
  border-color: #B9C0D2;
}

